#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  display: flex;
  height: 50px;
  line-height: 50px;
  justify-content: center;
  background: #fff;
  padding-left: 30px;
  font-size: medium;
  font-weight: 700;
}

.site-layout-content {
  margin: 24px 16px 0;
}

.site-layout-background {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 24px;
  min-height: 360px;
  min-width: 350px;
}

.layout-wrapper {
  height: 100vh;
}

.graph-container {
  width: 650px;
  height: 450px;
}

.table-class {
  margin-top: 20px;
}
